<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Origami</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Origami-Electronics</h1>
            </div>
            <div class="col-md-6">
                <nav class="navbar navbar-light navbar-expand-md">
                    <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse d-xl-flex justify-content-xl-end" id="navcol-1">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link active" href="/templates/index">Home</a></li>
                                <li class="nav-item"><a class="nav-link">Origami</a></li>
                                <li class="nav-item"><a class="nav-link active" href="/templates/controls">Controls</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Origami<br>Instructions</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="text-align: center;"><img src="../assets/img/Crow_Ins/Crow%20Image.jpg" width="90%" style="text-align: center;"><a class="btn btn-primary btn-lg active" role="button" href="/templates/crow" style="text-align: center;">Singing Bird</a></div>
            <div class="col-md-4" style="text-align: center;"><img src="../assets/img/Crown_Ins/Crown%20Image.jpg" width="85%"><a class="btn btn-primary btn-lg active" role="button" href="/templates/crown">Bejeweled Crown</a></div>
            <div class="col-md-4 text-center"><img src="../assets/img/Soprano_Ins/Step13_1.jpg" width="85%"><a class="btn btn-primary btn-lg active" role="button" href="/templates/soprano">Singing Head</a></div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>